body {
    background: #F4F5F7;
}

.title {
    margin-bottom: 15px;
}

#sso-header, #sso-content {
    margin-left: auto;
    margin-right: auto;
}

#sso-header {
    width: 90%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    margin-top: 7%;
    color: rgb(68, 68, 68);
}

#sso-content {
    background: white;
    padding: 20px;
    border-radius: 3px;
    border-top: 3px solid #283583;
    box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
}

@media (max-width: 768px) {
    #sso-content {
        width: 90%;
    }
}

@media (min-width: 769px) {
    #sso-content {
        width: 360px;
    }
}

.password-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

#sso-login {
    float: right;
}

#sso-error-message p {
    margin: 0;
}

.checkbox {
    margin-bottom: 0px;
}

.remember-me-checkbox label {
    padding-left: 0px;        
}

.register .register-field {
    margin-bottom: 15px;
}

.register .register-button-container {
    margin-top: 20px;
}

.reset-password .reset-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-button-container {
    margin-top: 20px;
}

.config-totp .config-totp-button-container {
    margin-top: 15px;
}

.totp .totp-button-container {
    margin-top: 15px;
}

.update-profile .update-profile-field {
    margin-top: 15px;
}

.update-profile .update-profile-button-container {
    margin-top: 20px;
}

.template .language-picker {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 160px;
}

.template .language-picker .form-group {
    white-space: nowrap;

    /* the below keeps the label in "inline" mode even on narrow screens */
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.template .language-picker .language-picker-dropdown-label i {
    vertical-align: middle;
    margin-right: 7px;
    margin-left: -7px;
    color: #9ca2af;
}

.template .language-picker select.form-control {
    border-color: #afb0b3;
    background: transparent;

    /* the below keeps the <select> in "inline" mode even on narrow screens */
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.btn-primary {
    background-color: #283583;
    border-color: #283583;
}

.footer {
    margin-top: 30px;
    font-size: large;
    text-align: center;
}

.terms {
    margin-top: 15px;
    font-size: medium;
    text-align: center;
}

.forgot-password-wrapper {
    text-align: right;
    margin-bottom: 20px;
    margin-top: -15px;
}

.register-font-size {
    font-size: medium;
}

.register-social-wrapper {
    margin-top: 20px;
    text-align: left;
}

.margin-top {
    margin-top: 10px;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.btn-saml {
    background-color: #CFD0D14D;
    border-color: rgba(0,0,0,0.2);
}

.btn-saml:hover {
    background-color:#CFD0D1;
    border-color:rgba(0,0,0,0.2)
}

.btn-oidc {
    background-color: #CFD0D14D;
    border-color: rgba(0,0,0,0.2);
}

.btn-oidc:hover {
    background-color:#CFD0D1;
    border-color:rgba(0,0,0,0.2)
}

.btn-keycloak-oidc {
    background-color: #CFD0D14D;
    border-color: rgba(0,0,0,0.2);
}

.btn-keycloak-oidc:hover {
    background-color:#CFD0D1;
    border-color:rgba(0,0,0,0.2)
}

.margin-default {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-register {
    width: 100%;
    margin-bottom: 20px;
}

.help-block { display: none; }
.form-group.has-error .help-block { display: block; }

/* General Links */
a {
    color: #283583;
  }
  a:hover,
  a:active,
  a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
  }